body {
    background-color: #63bee9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

/* NAV BAR */
nav {
    background: #f1f1f1;
    overflow: auto;
}

nav > div {
    background: #f1f1f1;
    display: inline;
    cursor: pointer;
    width: 16.65%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    padding: 15px;
    float: left;
}

nav > div.active {
    background: #ccc;
}

.hidden {
    display: none !important;
}
/* END OF NAV BAR */

/* #1 HOME SCREEN */
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home {
    position:relative;
    align-items: center;
}

.reminders {
    border: none;
    padding: 10px;
    background-color: #f1f1f1;
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
}

.reminders > button {
    border: none;
}

.dailyRemind {
    margin-left: 5%;
}

hr {
    margin: 20px;
    border-color: black;
}

.recent > img {
    margin: 3px;
    margin-left: 10px;
}

.recent > hr {
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: black;
}

.recent > p {
    margin: 5px;
}

.food {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/* END OF HOME SCREEN */


/* #2 FOOD SCREEN */
#food, .foodpage {
    position: relative;
    display: flex;
    padding: 10px;
}

#food {
    padding: 0;
}

.left {
    flex: 1.5;
}

.right {
    flex: 1;
}

.right__title {
    font-size: 14px;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-bottom: 5px;
    color: #fe2c55;
}

.right__title_sleep {
    font-size: 70px;
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-bottom: 5px;
    color:darkviolet
}

button {
    color: #007aff;
    background: white;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
    cursor: pointer;
}

.mb {
    margin-bottom: 10px;
}

.goal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.goal input {
    margin-right: 5px;
}

.list-item {
    margin-bottom: 20px;
    margin-right: 50px;
}

.list-title {
    background: #fe2c55;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-meal {
    margin-left: 10px;
    border: 1px solid #fe2c55;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.delete {
    padding: 2px 5px;
    cursor: pointer;
    color: red;
    font-size: 18px;
}

.list-title .delete {
    color: white !important;
}

.name {
    flex: 1;
}

.list-add {
    margin-left: 20px;
}

#add-form .mb {
    display: flex;
}

#add-form label {
    width: 80px;
    margin-right: 10px;
}

#add-form input {
    flex: 1;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.modal-body {
    background: white;
    width: 80vw;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
}

.d-none {
    display: none;
}

.scrollforolder {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-size: 14px;
}

.more {
    cursor: pointer;
    padding: 6px;
}
/* END OF FOOD SCREEN */


/* #3 FITNESS SCREEN */

/* END OF FITNESS SCREEN */


/* #4 SLEEP SCREEN */

/* END OF SLEEP SCREEN */
.content {
    flex: 1 1 auto;
}

#dot {
    height: 25px;
    width: 25px;
    background-color: #080807;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 35%;
    margin-top: 3%;
    display: block;
    position:relative
}

#speaker {
    height: 25px;
    width: 60px;
    background-color: #080807;
    border-radius: 46px;
    margin-left: auto;
    margin-right: 45%;
    margin-top: -7%;
    display: block;
    position:relative
}